In [3]:
# Import all necessary libraries
import pandas as pd
import numpy as np
#from pprint import pprint
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler, RobustScaler, MinMaxScaler, MaxAbsScaler, Normalizer
from sklearn.decomposition import PCA

#from sklearn.svm import SVC, LinearSVC
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.naive_bayes import GaussianNB
#from xgboost.sklearn import XGBClassifier
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier,\
BaggingClassifier

from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import VarianceThreshold, SelectKBest, SelectFromModel, SelectPercentile, f_classif, chi2
from sklearn.cross_validation import train_test_split, StratifiedKFold, StratifiedShuffleSplit
from sklearn.metrics import log_loss#, f1_score, roc_auc_score, auc, make_scorer

# Make matplotlib show our plots inline
%matplotlib inline
# Set figure size
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8

In [ ]:
# Get the data
# Get the files' paths
project_name = "Expedia Hotel Recommendations"
data_folder_path = "C:\\Users\\georg\\Downloads\\Data\\"
train_path = os.path.join(data_folder_path, project_name, 'train.csv')
test_path = os.path.join(data_folder_path, project_name, 'test.csv')
# Read in the data
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
print "The dimensions of train and test sets are: {}, {}".format(train.shape, test.shape)

In [10]:
test.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538